.DS_Store
.DS_Store?
*.DS_Store
**/.DS_Store
**/SWENG24.code-workspace
.env
env*
.vscode
*.vscode
/-template/*
/-template
*__pycache__*
*tempCodeRunnerFile.py
.trunk
*temp.py
*scratch.py
SWENG24.code-workspace
/python_chapters/*